@media screen and (min-device-width: 481px) {
	#guarantee {
		margin-right:250px;
	}
}

@media screen and (max-device-width: 480px) {
	#guarantee {
		margin-right: 30px;
	}	
}

@media print {
	body {font-family: Times, "Times New Roman", serif;
	}
}
body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}

p.specials {
	color:red;
}
h1,h2 {
	color: #007e7e;
}

h1 {
	font-size: 150%;
}

h2{
	font-size: 130%;
}

#guarantee {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #444444;
	line-height: 1.9em;
	border-color: white;
	border-width: 1px;
	border-style: dashed;
	background-color: #a7cece;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 250px;
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#elixirs {
	border-width: thin;
	border-style: solid;
	border-color: #007e7e;
	width: 200px;
	/*задает ширину для элемента*/
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	/*отступы вокруг области содержимого*/
	margin-left: 20px; 
	/*смещает раздел вправо*/
	text-align: center;
	/*используется для выравнивания всего содержимого блочного элемента по центру. не сработает если применить его напрямую к сторчному элементу, например<img>*/
	background-image: url(images/cocktail.gif);
	background-repeat: repeat-x;
	/*повторение рисунка по горизонтали*/	
	line-height: 1;
	float: right;
																																																																																																																				aq																																																																																	
}

#elixirs h2{
	color:black;
}

#elixirs h3{
	color:#d12c47;
}

#footer {
	font-size: 50%;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
}

.cd {
	font-style: italic;
}

.artist {
	font-weight: bold;
}

a:link {
	color:#007e7e;
}

a:visited {
	color:#333333;
}

a:hover {
	color:yellow;
}

#elixirs a:link{
	color:#007e7e;
}

#elixirs a:visited{
	color:#333333;
}

#elixirs a:hover{
	background: #f88396;
	color:#0d5353;
}

